body {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

nav ul li {
  list-style: none;
  margin: 20px 60px;
}

a {
  text-decoration: none;
}

.menu {
  font-size: 20px;
  box-shadow: 0 0px 100px rgba(90, 231, 184, 0.2);
}



nav ul {
  display: flex;
  justify-content: center;
  text-align: center;

}

@media(max-width: 1100px) {
  nav ul {
    flex-direction: column;
  }
}


nav {
  background-color: rgb(90, 231, 184);
  width: 100%;
  display: flex;
  justify-content: center;

}



header {
  background-size: cover;
  height: 105vh;
  background-color: rgb(0, 0, 0);
  border-bottom: solid white;
}

header h1 {
  font-size: 80px;
  margin: 105px 0 0 110px;
  text-align: left;
  color: white;
  transition: 1s;
}

header a {
  color: rgb(0, 0, 0);
  font-size: 25px;
  transition: 0s;
}

.nombre {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}

@media(max-width: 1100px) {
  .nombre {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
  }

  header {
    height: 180vh;
  }

  header h1 {
    margin: 0;
    margin-bottom: 115px;
    font-size: 70px;
    text-align: center;
  }

  .img1 {
    height: 350px;
    width: 350px;
  }
 
}


header p {
  margin: 36px 0 0 110px;
  font-size: 30px;
}

header img {
  border: double 20px rgb(90, 231, 184);
  width: 500px;
  height: 500px;
  margin: 0 175px;
  border-radius: 50%;
  transition: 0.5s;
}

header span {
  font-size: 45px;
  color: rgb(90, 231, 184);
}

nav a:hover {
  text-decoration: underline;
  transition: 0s;
  text-shadow: 1px 1px rgb(255, 253, 253);
}

header img:hover {
  border-radius: 75%;
  transition: 0.5s;
  box-shadow: 0px 0px 20px white;
}

header h1:hover {
  font-size: 83px;
  transition: 1s;
  color: rgb(90, 231, 184);
}




.acercademi {
  background-color: rgb(108, 168, 148);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-image: url(/coding-g5a5002104_1920.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.acercademi h2 {
  text-align: left;
  font-size: 70px;
  margin-bottom: 90px;
  margin-top: 90px;
  text-shadow: -4px 3px 0px rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.acercademi p {
  width: 100%;
  height: 150px;
  text-align: center;
  font-size: 25px;
  background-color: rgb(0, 0, 0);
  color: white;
  text-shadow: rgb(90 231 184) 0px 0px 3px;
  padding: 100px;
  margin: 0;
}
@media(max-width: 1100px){
  .acercademi{
    height: 125vh;
  }

  .acercademi h2{
    padding: 0px 200px;
    font-size: 70px;
  }
  .acercademi p{
    height: 400px;
    padding: 100px;
    
  }
}

#objetivos {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: solid rgb(255, 255, 255);
  background-color: black;
}

#objetivos h3 {
  font-size: 100px;
  margin: 0px 60px 0 100px;
  background-image: url(/coding-g5a5002104_1920.jpg);
  color: transparent;
  background-clip: text;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  background-position-x: right;
  filter: contrast(0.6);
  background-attachment: fixed;
}

#objetivos span {
  border-bottom: solid rgb(90 231 184) 10px;
}

#objetivos li {
  font-size: 25px;
  margin: 70px 0px 50px 150px;
  padding-left: 20;
  color: rgb(255, 255, 255);
  list-style-type: square;
  text-shadow: rgb(90 231 184) 0px 0px 3px;
}

#objetivos ul {
  background-color: black;
  box-shadow: 3px 3px 1px 5px black;
  border: 1px solid double black;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media(max-width: 1100px){
  #objetivos{
    flex-direction: column;
    justify-content: space-around;
    height: 80vh;
    padding: 30px 0px;
  }
  #objetivos h3{
   font-size: 60px;
   margin: 0px;
  }
  #objetivos li{
    margin: 30px;
  }
}

#conocimientos {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: url(/coding-g5a5002104_1920.jpg);
  background-size: cover;
  background-attachment: fixed;
  border-top: solid white;
  border-bottom: solid white;
}

#conocimientos img {
  width: 500px;
  margin-top: -50px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px ;
  margin-bottom: 180px;
  
}

#conocimientos h4 {
  font-size: 80px;
  margin: 30px 0 30px 0;
  text-shadow: -4px 3px 0px rgb(255, 255, 255);
}

@media(max-width: 1100px){
  #conocimientos h4{
    font-size: 65px;
    padding: 100px;
  }
}

footer {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

#contacto {
  display: flex;
  justify-content: space-around;
  font-size: 38px;
  align-self: center;
}

#contacto p {
  margin: 90px;
}

#contacto .wats {
  color: rgb(90, 231, 184);
  transition: 0.3s;
  text-shadow: none;
}

#contacto .mail {
  color: rgb(90, 231, 184);
  transition: 0.3s;
  text-shadow: none;
}

#contacto .wats:hover {
  color: #00bb2d;
  transition: 0.3s;
}

#contacto .mail:hover {
  color: red;
  transition: 0.3s;
}

.nombref {
  background-image: url(/coding-g5a5002104_1920.jpg);
  color: transparent;
  background-clip: text;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  background-position-x: left;
  filter: contrast(0.3);
  border-left: solid rgb(90 231 184);
  border-right: solid rgb(90 231 184);
  padding: 0 20px;
}

@media(max-width: 1100px){
  #contacto{
   flex-direction: column;
   justify-content: space-around;
  }
  #contacto p{
    margin: 60px;
    font-size: 35px;
  }
  .nombref{
    border: none;
    font-size: 200px;
  }
}